[Unit]
Description=counting
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/counting
ExecStart=/opt/counting/counting.mjs
EnvironmentFile=/opt/counting/.env

[Install]
WantedBy=multi-user.target
